
<div class="container p-4">
    <div class="row">    
        <div class="col-md-12" style="text-align: center;">
            <h2 class="text-primary">{{lang.products.management_products}}</h2>         
        </div>    
    </div>
    <div class="row">    
        <div class="col-md-9">
            <a href="/products/create" class="btn btn-success">{{lang.products.new_product}}</a>          
            <a href="#" id="button_new_category" class="btn btn-success">{{lang.category.new_category}}</a>
            <a href="#" id="button_new_presentation_product" class="btn btn-success">{{lang.presentation_product.new_presentation_product}}</a>        
        </div>
        <div class="col-md-3">
        </div>     
    </div>    
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <table id="products_table" class="table table-striped table-bordered display nowrap" width="100%">
                <thead>
                    <tr>
                        <th>{{lang.product.N}}</th>
                        <th>{{lang.product.name}}</th>
                        <th>{{lang.product.internal_code}}</th>
                        <th>{{lang.product.unitary_value_product}}</th>
                        <th>{{lang.detail.status}}</th>
                        <th class="text-center">{{lang.detail.action}}</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each products}}
                    <tr>
                        <td></td>
                        <td>{{name_product}}</td>
                        <td>{{internal_code_product}}</td>
                        <td>{{unitary_value_product}}</td>
                        <td>  
                            {{#if_eq status_product "1" }}
                                <span class="badge badge-success">{{../lang.detail.act}}</span>
                            {{else}}
                                <span class="badge badge-danger">{{../lang.detail.inact}}</span>
                            {{/if_eq }} 
                        </td>
                        <td class="text-center">
                            {{#if_eq status_product "1" }}   
                                <a href="#" class="detail btn btn-primary btn-sm" data-id="{{id_product}}"><i class="fa fa-align-justify fa-lg" title="{{../lang.detail.detail}}"></i></a>
                                <a href="/products/edit/{{id_product}}" class="btn btn-secondary btn-sm"><i class="fa fa-edit fa-lg" title="{{../lang.detail.edit}}"></i></a>
                                <a href="#" class="inactive btn btn-danger btn-sm" data-id="{{id_product}}"><i class="fa fa-ban fa-lg" title="{{../lang.detail.inactive}}"></i></a>
                            {{else}}
                                <a href="#" class="active btn btn-success btn-sm" data-id="{{id_product}}"><i class="fa fa-check fa-lg" title="{{../lang.detail.active}}"></i></a>
                            {{/if_eq }}    
                        </td>
                    </tr>
                    {{/each}}
                </tbody>    
            </table>
        </div>
    </div>
    <!-- Button trigger modal -->

</div>
</div>
    {{> modal/modal_detail_product }}
    {{> modal/modal_new_category_product }}
    {{> modal/modal_new_presentation_product }}
</div>