<div class="container p-4">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2 class="text-primary">{{lang.establecimientos.create_establecimiento}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form id="form_save">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <b><label for="">{{lang.establecimientos.establecimiento_name}}{{lang.required}}</label></b>
                                <input type="text" name="establecimiento_name" id="establecimiento_name" class="form-control" maxlength="255" placeholder="{{lang.establecimientos.establecimiento_name}}" required>
                            </div>
                            <div class="form-group col-md-6">
                                <b><label for="">{{lang.establecimientos.establecimiento_admin}}{{lang.required}}</label></b>
                                <select class="form-control" name="user" id="user" style="cursor: pointer;">
                                    <option value="0">Seleccione</option>
                                    {{#each users}}
                                        {{#if_eq status_user "1" }}
                                            {{#if_eq id_profile "2"}}
                                                <option value="{{id_user}}">{{document}} - {{names}}</option>
                                            {{/if_eq}}    
                                        {{/if_eq }} 
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <b><label for="">{{lang.general.depto}}{{lang.required}}</label></b>
                                <select class="form-control" name="depto" id="depto" style="cursor: pointer;">
                                    <option value="0">Seleccione</option>
                                    {{#each deptos}}
                                        <option value="{{id_depto}}">{{name_depto}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <b><label for="">{{lang.general.muni}}{{lang.required}}</label></b>
                                <select class="form-control" name="municipio" id="municipio" style="cursor: pointer;">
                                    <option value="0">Seleccione</option>
                                </select>
                            </div>
                        </div> 
                        <div class="row">
                            <div class="form-group col-md-6">
                                <b><label for="">{{lang.establecimientos.phone}}{{lang.required}}</label></b>
                                <input type="text" name="phone" id="phone" class="form-control" maxlength="30" placeholder="{{lang.establecimientos.phone}}" required>
                            </div>
                            <div class="form-group col-md-4">
                                <b><label for="">{{lang.establecimientos.address}}{{lang.required}}</label></b>
                                <input type="text" name="address" id="address" class="form-control" maxlength="255" placeholder="{{lang.establecimientos.address}}" required>
                            </div>
                            <div class="form-group col-md-2">
                                <b><label for="">*</label></b>
                                <a class="btn btn-info" id="get_map">
                                    {{lang.button.search_address}}
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6"><input type="hidden" class="search_latitude" id="latitud"><input type="hidden" class="search_longitude" id="longitud"></div>
                            <div class="form-group col-md-6"><b>Resultado: </b><input type="text" class="search_addr" size="45" required disabled><input type="hidden" class="search_addr2"></div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12 text-center">
                                <button type="submit" class="btn btn-primary" >{{lang.button.save}}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>