<!-- Modal detalle usuario-->
<div class="modal inmodal" id="detalle" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <!-- Encabezado del modal -->
            <div class="modal-header text-center bg-light">
                <h4 class="modal-title ">{{lang.users.detail}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- /Encabezado del modal -->
            <!-- Cuerpo del modal -->
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <label>
                                <b>{{lang.users.name}}</b>
                            </label>
                            <label id="user_name"></label>
                        </div>
                        <div class="col-md-6">
                            <label>
                                <b>{{lang.users.document}}</b>
                            </label>
                            <label id="user_document"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>
                                <b>{{lang.users.email}}</b>
                            </label>
                            <label id="user_email"></label>
                        </div>
                        <div class="col-md-6">
                            <label>
                                <b>{{lang.users.phone}}</b>
                            </label>
                            <label id="user_phone"></label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Cuerpo del modal -->
            <!-- Pie del modal -->
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{lang.button.close}}</button>
            </div>
            <!-- /Pie del modal -->
        </div>
    </div>
</div>
<!-- /Modal detalle usuario-->