<div class="container p-4">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2 class="text-primary">{{lang.schedules.new}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form id="form_save_shedule">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <b><label for="">{{lang.schedules.name}}{{lang.required}}</label></b>
                                <input type="text" name="name_schedule" id="name_schedule" class="form-control" maxlength="250" placeholder="{{lang.schedules.name}}" required>
                            </div>
                            <div class="form-group col-md-6">
                                <b><label for="">{{lang.schedules.establishment}}{{lang.required}}</label></b>
                                <select class="form-control" name="id_establecimiento" id="id_establecimiento" style="cursor: pointer;">
                                    <option value="0">Seleccione</option>
                                    {{#each establishment}}
                                        {{#if_eq status_establecimiento "1" }}
                                            <option value="{{id_establecimiento}}">{{id_establecimiento}} - {{name_establecimiento}}</option>   
                                        {{/if_eq }} 
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <b><label for="">{{lang.schedules.description}}</label></b>
                                <textarea name="description_schedule" id="description_schedule" class="form-control" maxlength="500" placeholder="{{lang.schedules.description}}" ></textarea>
                            </div>
                        </div> 
                        <div class="row">
                            <div class="form-group col-md-2 center">
                                <b><label for="">{{lang.schedules.day}}</label></b>
                            </div>
                            <div class="form-group col-md-2 center">
                                <b><label for="">{{lang.schedules.init_hour}}</label></b>
                            </div>
                            <div class="form-group col-md-2 center">
                                <b><label for="">{{lang.schedules.end_hour}}</label></b>
                            </div>
                            <div class="form-group col-md-2 center">
                                <b><label for="">{{lang.schedules.day}}</label></b>
                            </div>
                            <div class="form-group col-md-2 center">
                                <b><label for="">{{lang.schedules.init_hour}}</label></b>
                            </div>
                            <div class="form-group col-md-2 center">
                                <b><label for="">{{lang.schedules.end_hour}}</label></b>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-2 center">
                                <b><label for="start_hour_monday">{{lang.schedules.monday}}</label></b>
                            </div>
                            <div class="form-group col-md-2">
                                <input type="time" id="start_hour_monday" name="start_hour_monday" class="form-control" maxlength="50" placeholder="Horario" required>
                            </div>
                            <div class="form-group col-md-2">
                                <input type="time" id="end_hour_monday" name="end_hour_monday" class="form-control" maxlength="50" placeholder="Horario" required>
                            </div>
                            <div class="form-group col-md-2 center">
                                <b><label for="start_hour_friday">{{lang.schedules.friday}}</label></b>
                            </div>
                            <div class="form-group col-md-2">
                                <input type="time" id="start_hour_friday" name="start_hour_friday" class="form-control" maxlength="50" placeholder="Horario" required>
                            </div>
                            <div class="form-group col-md-2">
                                <input type="time" id="end_hour_friday" name="end_hour_friday" class="form-control" maxlength="50" placeholder="Horario" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-2 center">
                                <b><label for="start_hour_tuesday">{{lang.schedules.tuesday}}</label></b>
                            </div>
                            <div class="form-group col-md-2">
                                <input type="time" id="start_hour_tuesday" name="start_hour_tuesday" class="form-control" maxlength="50" placeholder="Horario" required>
                            </div>
                            <div class="form-group col-md-2">
                                <input type="time" id="end_hour_tuesday" name="end_hour_tuesday" class="form-control" maxlength="50" placeholder="Horario" required>
                            </div>
                            <div class="form-group col-md-2 center">
                                <b><label for="start_hour_saturday">{{lang.schedules.saturday}}</label></b>
                            </div>
                            <div class="form-group col-md-2">
                                <input type="time" id="start_hour_saturday" name="start_hour_saturday" class="form-control" maxlength="50" placeholder="Horario" required>
                            </div>
                            <div class="form-group col-md-2">
                                <input type="time" id="end_hour_saturday" name="end_hour_saturday" class="form-control" maxlength="50" placeholder="Horario" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-2 center">
                                <b><label for="start_hour_wednesday">{{lang.schedules.wednesday}}</label></b>
                            </div>
                            <div class="form-group col-md-2">
                                <input type="time" id="start_hour_wednesday" name="start_hour_wednesday" class="form-control" maxlength="50" placeholder="Horario" required>
                            </div>
                            <div class="form-group col-md-2">
                                <input type="time" id="end_hour_wednesday" name="end_hour_wednesday" class="form-control" maxlength="50" placeholder="Horario" required>
                            </div>
                            <div class="form-group col-md-2 center">
                                <b><label for="start_hour_sunday">{{lang.schedules.sunday}}</label></b>
                            </div>
                            <div class="form-group col-md-2">
                                <input type="time" id="start_hour_sunday" name="start_hour_sunday" class="form-control" maxlength="50" placeholder="Horario" required>
                            </div>
                            <div class="form-group col-md-2">
                                <input type="time" id="end_hour_sunday" name="end_hour_sunday" class="form-control" maxlength="50" placeholder="Horario" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-2 center">
                                <b><label for="start_hour_thursday">{{lang.schedules.thursday}}</label></b>
                            </div>
                            <div class="form-group col-md-2">
                                <input type="time" id="start_hour_thursday" name="start_hour_thursday" class="form-control" maxlength="50" placeholder="Horario" required>
                            </div>
                            <div class="form-group col-md-2">
                                <input type="time" id="end_hour_thursday" name="end_hour_thursday" class="form-control" maxlength="50" placeholder="Horario" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12 text-center">
                                <button type="submit" class="btn btn-primary" >{{lang.button.save}}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>