<!-- Modal detalle products-->
<div class="modal inmodal" id="detalle" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <!-- Encabezado del modal -->
            <div class="modal-header text-center bg-light">
                <h4 class="modal-title ">{{lang.products.detail}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- /Encabezado del modal -->
            <!-- Cuerpo del modal -->
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <label>
                                <b>{{lang.products.name}}</b>
                            </label>
                            <label id="name_product"></label>
                        </div>
                        <div class="col-md-6">
                            <label>
                                <b>{{lang.products.description}}</b>
                            </label>
                            <label id="description_product"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>
                                <b>{{lang.products.category_product}}</b>
                            </label>
                            <label id="name_category_product"></label>
                        </div>
                        <div class="col-md-6">
                            <label>
                                <b>{{lang.products.presentation_product}}</b>
                            </label>
                            <label id="name_presentation_product"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>
                                <b>{{lang.products.establecimiento}}</b>
                            </label>
                            <label id="name_establecimiento"></label>
                        </div>
                        <div class="col-md-6">
                            <label>
                                <b>{{lang.products.internal_code}}</b>
                            </label>
                            <label id="internal_code_product"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>
                                <b>{{lang.products.unitary_value_product}}</b>
                            </label>
                            <label id="unitary_value_product"></label>
                        </div>
                        <div class="col-md-6">
                            <label>
                                <b>{{lang.products.iva}}</b>
                            </label>
                            <label id="iva_product"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>
                                <b>{{lang.products.product_iva}}</b>
                            </label>
                            <label id="value_iva_product"></label>
                        </div>
                        <div class="col-md-6"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-8" style="text-align:center">
                            <img id="image_product" class="img-fluid" alt="Responsive image">
                        </div>
                        <div class="col-md-2">
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Cuerpo del modal -->
            <!-- Pie del modal -->
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{lang.button.close}}</button>
            </div>
            <!-- /Pie del modal -->
        </div>
    </div>
</div>
<!-- /Modal detalle products-->