
<div class="container p-4">
    <div class="row">    
        <div class="col-md-12" style="text-align: center; margin-bottom: 10px">
            <h2 class="text-primary">{{lang.schedules.management_schedule}}</h2>         
        </div>    
    </div>
    <div class="row">    
        <div class="col-md-3" style="margin-bottom: 15px">
            <a href="/schedules/create" class="btn btn-success">{{lang.schedules.new}}</a>          
        </div>
        <div class="col-md-9">
        </div>     
    </div>    
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <table id="schedules_table" class="table table table-hover display nowrap" width="100%">
                <thead>
                    <tr>
                        <th>{{lang.schedules.N}}</th>
                        <th>{{lang.schedules.code}}</th>
                        <th>{{lang.schedules.name}}</th>
                        <th>{{lang.schedules.establishment}}</th>
                        <th>{{lang.schedules.status}}</th>
                        <th class="text-center">{{lang.detail.action}}</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each schedules}}
                    <tr>
                        <td></td>
                        <td>{{id_schedule}}</td>
                        <td>{{name_schedule}}</td>
                        <td>{{name_establecimiento}}</td>
                        <td>  
                            {{#if_eq status_schedule "3" }}
                                <span class="badge badge-success">{{../lang.detail.available}}</span>
                            {{/if_eq}}
                            {{#if_eq status_schedule "4" }}
                                <span class="badge badge-danger">{{../lang.detail.unavailable}}</span>
                            {{/if_eq}}
                        </td>
                        <td class="text-center">
                            {{#if_eq status_schedule "3" }}   
                                <a href="#" class="detail btn btn-primary btn-sm" data-id="{{id_schedule}}"><i class="fa fa-align-justify fa-lg" title="{{../lang.detail.detail}}"></i></a>
                                <a href="/schedules/edit/{{id_schedule}}" class="btn btn-secondary btn-sm"><i class="fa fa-edit fa-lg" title="{{../lang.detail.edit}}"></i></a>
                                
                            {{/if_eq}}
                            {{#if_eq status_schedule "4" }} 
                                <a href="#" class="detail btn btn-primary btn-sm" data-id="{{id_schedule}}"><i class="fa fa-align-justify fa-lg" title="{{../lang.detail.detail}}"></i></a>
                                <a href="/schedules/edit/{{id_schedule}}" class="btn btn-secondary btn-sm"><i class="fa fa-edit fa-lg" title="{{../lang.detail.edit}}"></i></a>
                                <a href="#" class="disponible btn btn-success btn-sm" data-id="{{id_schedule}}"><i class="fa fa-check fa-lg" title="{{../lang.detail.available}}"></i></a>
                            {{/if_eq }}    
                        </td>
                    </tr>
                    {{/each}}
                </tbody>    
            </table>
        </div>
    </div>
    <!-- Button trigger modal -->
</div>
</div>
    {{> modal/modal_detail_schedule }}
</div>